<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('showHome')}}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">WalPay <sup>Admin</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('showHome')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Inventory Management
  </div>

  <!-- Nav Item - Categories Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories" aria-expanded="true" aria-controls="collapseCategories">
      <i class="fas fa-fw fa-cog"></i>
      <span>Categories</span>
    </a>
    <div id="collapseCategories" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{url_for('viewCategories')}}">View All</a>
        <a class="collapse-item" href="{{url_for('createCategory')}}">Create New Category</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Products Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">
      <i class="fas fa-fw fa-boxes"></i>
      <span>Products</span>
    </a>
    <div id="collapseProducts" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="#">View All</a>
          <a class="collapse-item" href="#">Create New Product</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Customer Management
  </div>

  <!-- Nav Item - Customers Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="true" aria-controls="collapseCustomers">
      <i class="fas fa-fw fa-user"></i>
      <span>Customers</span>
    </a>
    <div id="collapseCustomers" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{url_for('viewCustomers')}}">View All</a>
        <a class="collapse-item" href="{{url_for('createCustomer')}}">Create New Customer</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Carts Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCarts" aria-expanded="true" aria-controls="collapseCarts">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Carts</span>
    </a>
    <div id="collapseCarts" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{url_for('viewCarts')}}">View All</a>
        <a class="collapse-item" href="{{url_for('createCart')}}">Create New Cart</a>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Order Management
  </div>

  <!-- Nav Item - Orders -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-receipt"></i>
      <span>Orders</span></a>
  </li>

  <!-- Nav Item - Order Statuses Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrderStatuses" aria-expanded="true" aria-controls="collapseOrderStatuses">
      <i class="fas fa-fw fa-truck-loading"></i>
      <span>Order Statuses</span>
    </a>
    <div id="collapseOrderStatuses" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{url_for('viewOrderStatuses')}}">View All</a>
        <a class="collapse-item" href="{{url_for('createOrderStatus')}}">Create New Order Status</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
